@import '@picocss/pico/css/pico.classless.min.css';
@import '@fontsource/roboto/latin-400.css';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

:root {
  --pico-font-family: 'Roboto';
}

.svg svg {
  width: 100%;
  height: 100%;
}
